/* 레시피 카드 클릭했을 때 상세 페이지 UI */
.recipe-detail-container {
    text-align: center;
  }
  
  .recipe-detail-image {
    display: block;
    margin: 0 auto;
    width: 100%; 
    max-width: 600px; 
    height: auto; 
    margin-bottom: 20px;
  }
  